@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');

body{
    margin:0;
    background-image:url("img/bg.jpg");
    background-attachment:fixed;
    font-family: 'Montserrat', sans-serif;
}

.custom-box{
    max-width:800px;
    background-color: #fff;
    margin:30px auto;
    padding:50px 40px;
    border-radius: 10px;
}

.quiz-home-box{
    text-align:center;
    display:none;
}

.quiz-home-box h4{
    font-size:30px;
    font-weight:400;
    color:#444;
    margin:0 0 30px;
}

.btn{
   background-color:#ff8b00;
   border:2px solid #b96502; 
   padding:14px 40px;
   color:#fff;
   font-size:20px;
   border-radius:30px;
   font-family: 'Montserrat', sans-serif;
   cursor:pointer;
   white-space:nowrap;
}

.btn:focus{
outline:none;
}

.quiz-box{
    background-color:#ebd8b7;
}

.quiz-box .question-box{
    background-color:#fff;
    padding:40px 30px;  
   margin-top:40px;
   border-radius:10px;
   font-size:28px;
   border:2px solid #c2af91;
   text-align:center;
}

.quiz-box .question-box .question-num{
    height:70px;
    width:70px;
    background-color:#fff;
    border:2px solid #c2af91;
    font-size:25px;
    font-weight: 800;
    color:#665b49;
    border-radius:50%;
    line-height:68px;
    text-align:center;
}

.quiz-box .question-box .question-text{
    font-size:30px;
    font-fanily:'concert one', cursive;
    color:#665b49;
}

.see-result-btn{
    display:none;
} 